
<div class="wrapper">
    <%= render 'shared/account_sidebar' %>
    <div class="main-panel">
        <%= render 'shared/account_nav' %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Profile</h4>
                            </div>
                            <div class="card-body">
                              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                                <%= devise_error_messages! %>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <%= f.label :company %>
                                                <%= f.text_field :company, placeholder: "Company Inc.", class: "form-control" %>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <%= f.label :name %>
                                                <%= f.text_field :name, placeholder: "Full Name", class: "form-control" %>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <%= f.label :email %>
                                                <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <%= f.label :about %>
                                                <%= f.text_area :about, placeholder: "Tell us about yourself", class: "form-control", rows: 10 %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                              <%= f.label :password %>
                                              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                                              <small>(leave blank if you don't want to change it)</small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                              <%= f.label :password_confirmation %>
                                              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                              <%= f.label :current_password %>
                                              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                                              <small>(we need your current password to confirm your changes)</small>
                                            </div>
                                        </div>
                                    </div>
                                    <%= f.submit "Update Profile", class:"btn btn-info btn-fill btn-block" %>
                                    <div class="clearfix"></div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="card-image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <a href="#">
                                        <%= image_tag("default-avatar.png", class: "avatar border-gray") %>
                                        <h5 class="title"><%= @user.name %></h5>
                                    </a>
                                    <p class="description">

                                    </p>
                                </div>
                                <p class="description text-center">
                                    <%= @user.about %>
                                </p>
                            </div>
                            <hr>
                            <div class="button-container mr-auto ml-auto">
                                <button href="#" class="btn btn-simple btn-link btn-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </button>
                                <button href="#" class="btn btn-simple btn-link btn-icon">
                                    <i class="fa fa-twitter"></i>
                                </button>
                                <button href="#" class="btn btn-simple btn-link btn-icon">
                                    <i class="fa fa-google-plus-square"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card">
                          <div class="card-body">
                            <div class="text-center">
                              <p>
                                <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
                              </p>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%= render 'shared/footer' %>
    </div>
</div>
