<div class="sidebar" data-color="red">
    <div class="logo text-center">
        <%= link_to "Home", root_url, class: "simple-text" %>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <%= gravatar_helper current_user %>
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>
                        <%= current_user.name %>
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <!-- <li>
                            <%#= link_to user_path(current_user) do %>
                                <span class="sidebar-mini-icon">MP</span>
                                <span class="sidebar-normal">My Profile</span>
                            <%# end %>
                        </li> -->
                        <li>
                            <%= link_to edit_user_registration_path do %>
                                <span class="sidebar-mini-icon">EP</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            <% end %>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <span class="sidebar-mini-icon">S</span>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="active">
                <a data-toggle="collapse" href="#pagesExamples" aria-expanded="true">
                    <%= fa_icon("feed") %>
                    <p>Blog
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse show" id="pagesExamples">
                    <ul class="nav">
                        <li>
                            <%= link_to posts_path do %>
                                <span class="sidebar-mini-icon"><%= fa_icon("list") %></span>
                                <span class="sidebar-normal">All Posts</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_post_path do %>
                                <span class="sidebar-mini-icon"><%= fa_icon("plus") %></span>
                                <span class="sidebar-normal">New Post</span>
                            <% end %>
                        </li>
                        <!-- <li>
                            <%#= link_to comments_path do %>
                                <span class="sidebar-mini-icon">C</span>
                                <span class="sidebar-normal">Comments</span>
                            <%# end %>
                        </li> -->
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
