<div class="wrapper">
    <div class="page-header clear-filter" filter-color="red">
        <div class="page-header-image" data-parallax="true" style="background-image: url('<%= image_path("tim-home.png") %>');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1><span class="title">Tim Pile</span> de·sign | /dəˈzīn/</h1>
                <h3>Exploration of Life & Code</h3>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="features-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Welcome!</h2>
                        <h4 class="description">This site is my expression of curiousity & creativity. Think of it as a playground to explore areas of personal development with an emphasis on software design and life hacking.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-5 section-image" style="background-image: url('<%= image_path("bg4.jpg") %>');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">About Tim</h2>
                        <h4 class="description">I've been writing software since 2011. The first 6 years of my career was in business intelligence, data management & analytics. I developed reporting software for enterprise sales, marketing, finance, and application usage statistics.</h4>
                        <h4 class="description">In 2016 I discovered Ruby on Rails for SaaS app development. It's ease of use and rapid prototyping make it my favorite language and framework to work with in the web.</h4>
                        <h4 class="description">When I'm not coding, I like hanging out with my wife Hannah and our two sweet golden retreivers, Hawker and Daisy. We love to run, travel and eat good food!</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <%= image_tag("tim-profile.png", class: "img img-raised") %>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Tim Pile</h4>
                                <h6 class="category text-danger">Software Engineer</h6>
                                <p class="card-description">
                                </p>
                                <div class="card-footer">
                                  <%= social_link_helper "btn btn-icon btn-neutral btn-round" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <%= render 'message_mailer/form' %>
      </div>
    <%= render 'shared/footer' %>
</div>
