<div class="wrapper">
    <div class="page-header clear-filter" filter-color="red">
        <div class="page-header-image" data-parallax="true" style="background-image: url('<%= image_path("tim-home.png") %>');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="">Hi, my name is Tim ;)</h1>
                <h3>Freelance Web Design & Development</h3>
                <h4>Fayettville, NC</h4>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="features-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Freelance Services</h2>
                        <h4 class="description">I love getting to know people and their businesses. </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("project6.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                    <%= fm_icon "icon-ruby-on-rails-alt" %>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Ruby on Rails</h4>
                                    <p>For complex features Ruby on Rails is my favorite tool. It's a powerful framework for building <%= link_to "SaaS applications", "https://en.wikipedia.org/wiki/Software_as_a_service", target: "_blank" %>. Prototypes can be rapidly generated and then easily scaled into production. </p>
                                    <%= link_to "Learn about RoR", "http://rubyonrails.org/", target: "_blank" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("bg23.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                    <%= fm_icon "icon-wordpress" %>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">WordPress</h4>
                                    <p>For marketing websites that allow you to estblish your online presence and drive traffic to your business, WordPress is the industry standard. I can build it from scratch or upgrade an existing site.</p>
                                    <%= link_to "Learn about WP", "https://wordpress.com/", target: "_blank" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("project16.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                    <%= fm_icon "icon-database" %>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Data & Analytics</h4>
                                    <p>Start making your data work for you. I can collect and integrate data from any application that has provides access through an API. Use it to objectively measure your business through KPIs.</p>
                                    <%= link_to "Learn about KPIs", "http://kpilibrary.com/", target: "_blank" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="team-5 section-image" style="background-image: url('<%= image_path("bg4.jpg") %>');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">About Tim</h2>
                        <h4 class="description">I've been writing software since 2011. The first 6 years of my career was in business intelligence, data management & analytics. I developed reporting software for enterprise sales, marketing, finance, and application usage statistics.</h4>
                        <h4 class="description">In 2016 I discovered Ruby on Rails for SaaS app development. It's ease of use and rapid prototyping make it my favorite language and framework to work with in the web.</h4>
                        <h4 class="description">When I'm not coding, I like hanging out with my wife Hannah and our two sweet golden retreivers, Hawker and Daisy. We love to run, travel and eat good food!</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <%= image_tag("tim-profile.png", class: "img img-raised") %>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Tim Pile</h4>
                                <h6 class="category text-primary">Software Engineer</h6>
                                <p class="card-description">
                                </p>
                                <div class="card-footer">
                                  <%= social_link_helper "btn btn-icon btn-neutral btn-round" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="section section-contact-us text-center">
            <div class="container">
                <h2 class="title">Want to work with me?</h2>
                <p class="description">I'd love to hear about your project.</p>
                <div class="row">
                    <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">
                        <%= form_for @message, url: messages_url do |f| %>
                            <%= notice %>
                            <%= @message.errors.full_messages.join(', ') %>

                            <div class="input-group input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                                </div>
                                <%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
                            </div>
                            <div class="input-group input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                </div>
                                <%= f.email_field :email, placeholder: 'Email Here', class: "form-control" %>
                            </div>
                            <div class="textarea-container">
                                <%= f.text_area :body, class: "form-control", rows: 4, cols: 80, placeholder: "Type a message..." %>
                            </div>
                            <div class="send-button">
                                <%= f.submit 'Send Message', class: "btn btn-danger btn-round btn-block btn-lg" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <%= render 'shared/footer' %>
</div>
