<div class="wrapper">
    <div class="page-header clear-filter" filter-color="red">
        <div class="page-header-image" data-parallax="true" style="background-image: url('<%= image_path("tim-home.png") %>');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="">Hi, my name is Tim ;)</h1>
                <h3>Freelance Web Design & Development</h3>
                <h4>Fayettville, NC</h4>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="features-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Services</h2>
                        <h4 class="description">I love getting to know people and their businesses. </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("project6.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                    <%= fm_icon "icon-ruby-on-rails-alt" %>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Ruby on Rails</h4>
                                    <p></p>
                                    <a href="#" class="ml-3">Find out more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("project16.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                    <%= fm_icon "icon-bootstrap" %>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Bootstrap</h4>
                                    <p></p>
                                    <a href="#" class="ml-3">Find out more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("bg23.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                    <%= fm_icon "icon-wordpress" %>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Wordpress</h4>
                                    <p></p>
                                    <a href="#" class="ml-3">Find out more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("bg24.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                    <i class="now-ui-icons design_vector"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">UX/UI Design</h4>
                                    <p></p>
                                    <a href="#" class="ml-3">Find out more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("project15.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                    <%= fa_icon('bullhorn') %>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Digital Marketing</h4>
                                    <p></p>
                                    <a href="#" class="ml-3">Find out more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-background card-raised" data-background-color style="background-image: url('<%= image_path("project14.jpg") %>');">
                            <div class="info">
                                <div class="icon icon-white">
                                  <i class="now-ui-icons business_chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Analytics</h4>
                                    <p></p>
                                    <a href="#" class="ml-3">Find out more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="team-5 section-image" style="background-image: url('<%= image_path("bg4.jpg") %>');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">About Me</h2>
                        <h4 class="description">I've been designing & building software since 2011.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <%= image_tag("tim-profile.png", class: "img img-raised") %>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Tim Pile</h4>
                                <h6 class="category text-primary">Web Design & Development</h6>
                                <p class="card-description">
                                </p>
                                <div class="card-footer">
                                  <%= social_link_helper "btn btn-icon btn-neutral btn-round" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="section section-contact-us text-center">
            <div class="container">
                <h2 class="title">Want to work with me?</h2>
                <p class="description">I'd love to hear about your project.</p>
                <div class="row">
                    <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">
                        <%= form_for @message, url: messages_url do |f| %>
                            <%= notice %>
                            <%= @message.errors.full_messages.join(', ') %>

                            <div class="input-group input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                                </div>
                                <%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
                            </div>
                            <div class="input-group input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                </div>
                                <%= f.email_field :email, placeholder: 'Email Here', class: "form-control" %>
                            </div>
                            <div class="textarea-container">
                                <%= f.text_area :body, class: "form-control", rows: 4, cols: 80, placeholder: "Type a message..." %>
                            </div>
                            <div class="send-button">
                                <%= f.submit 'Send Message', class: "btn btn-danger btn-round btn-block btn-lg" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <%= render 'shared/footer' %>
</div>
