<div class="section section-contact-us text-center">
    <div class="container">
        <h2 class="title">Want to work with me?</h2>
        <p class="description">I'd love to hear about your project.</p>
        <div class="row">
            <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">
                <%= form_for @message, url: messages_url do |f| %>
                    <%= notice %>
                    <%= @message.errors.full_messages.join(', ') %>

                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                        <%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
                    </div>
                    <div class="input-group input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                        </div>
                        <%= f.email_field :email, placeholder: 'Email Here', class: "form-control" %>
                    </div>
                    <div class="textarea-container">
                        <%= f.text_area :body, class: "form-control", rows: 4, cols: 80, placeholder: "Type a message..." %>
                    </div>
                    <div class="send-button">
                        <%= f.submit 'Send Message', class: "btn btn-danger btn-round btn-block btn-lg" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
