<div class="card card-plain card-blog">
    <div class="row">
        <div class="col-md-4">
            <div class="card-image">
                <%= image_tag(image_helper(post.thumb_image), class: "img img-raised rounded") %>
            </div>
        </div>
        <div class="col-md-8">
            <h4 class="card-title">
                <%= link_to post.title, post %>
            </h4>
            <p class="card-description">
                <%= markdown post.body[0..250] %>
                <%= link_to "Read More", post %>
            </p>
            <div class="author">
                <%= image_tag(image_helper(post.user.image), class: "avatar img-raised") %>
                <span><%= post.user.name %></span>
            </div>
        </div>
    </div>
</div>
