<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Posts</h4>
        </div>
        <div class="card-body">
            <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
                <%= link_to 'New Post', new_post_path, class: "btn btn-info" %>
            </div>
            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Body</th>
                        <th>Status</th>
                        <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                  <% @posts.each do |post| %>
                    <tr>
                        <td><%= post.user.name %></td>
                        <td><%= post.title %></td>
                        <td><%= "#{post.body[0..250]}..." %></td>
                        <td><%= post.status %></td>
                        <td class="text-right">
                            <div><%= link_to fa_icon("eye"), post, class: "btn btn-round btn-info btn-icon btn-sm" %></div>
                            <div><%= link_to fa_icon("edit"), edit_post_path(post), class: "btn btn-round btn-warning btn-icon btn-sm" %></div>
                            <div><%= link_to fa_icon("times"), post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-round btn-danger btn-icon btn-sm remove" %></div>
                        </td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        <!-- end content-->
    </div>
    <!--  end card  -->
</div>
