
<div class="wrapper">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title"><%= @post.title %></h3>
                    <%= render 'posts/admin_actions', post: @post %>
                    <p><%= markdown @post.body %></p>
                </div>
            </div>
        </div>
    </div>
    <%= render 'posts/post_info', post: @post %>

    <div class="section section-comments">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">

                    <div class="media-area">
                        <h3 class="title text-center">3 Comments</h3>
                        <div class="media">
                            <a class="pull-left" href="#pablo">
                                <div class="avatar">
                                    <img class="media-object img-raised" src="" alt="..." />
                                </div>
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">Tina Andrew
                                    <small class="text-muted">&middot; 7 minutes ago</small>
                                </h5>
                                <p>Comment body</p>
                                <div class="media-footer">
                                    <a href="#pablo" class="btn btn-danger btn-neutral pull-right" rel="tooltip" title="Reply to Comment">
                                        <i class="now-ui-icons ui-1_send"></i> Reply
                                    </a>
                                    <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                        <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#pablo">
                                <div class="avatar">
                                    <img class="media-object img-raised" alt="Tim Picture" src="">
                                </div>
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">John Camber
                                    <small class="text-muted">&middot; Yesterday</small>
                                </h5>
                                <p>Comment body</p>
                                <div class="media-footer">
                                    <a href="#pablo" class="btn btn-danger btn-neutral pull-right" rel="tooltip" title="Reply to Comment">
                                        <i class="now-ui-icons ui-1_send"></i> Reply
                                    </a>
                                    <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                        <i class="now-ui-icons ui-2_favourite-28"></i> 25
                                    </a>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#pablo">
                                        <div class="avatar">
                                            <img class="media-object img-raised" alt="64x64" src="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Tina Andrew
                                            <small class="text-muted">· 2 Days Ago</small>
                                        </h5>
                                        <p>Comment body</p>
                                        <div class="media-footer">
                                            <a href="#pablo" class="btn btn-danger btn-neutral pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                                                <i class="now-ui-icons ui-1_send"></i> Reply
                                            </a>
                                            <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                                <i class="now-ui-icons ui-2_favourite-28"></i> 2
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="title text-center">Post your comment</h3>
                    <div class="media media-post">
                        <a class="pull-left author" href="#pablo">
                            <div class="avatar">
                                <img class="media-object img-raised" alt="64x64" src="">
                            </div>
                        </a>
                        <div class="media-body">
                            <textarea class="form-control" placeholder="Write a nice reply or go home..." rows="4"></textarea>
                            <div class="media-footer">
                                <a href="#pablo" class="btn btn-danger pull-right">
                                    <i class="now-ui-icons ui-1_send"></i> Reply
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end media-post -->
                </div>
            </div>
        </div>
    </div>

    <%= render 'shared/footer' %>
</div>
